.customCarousel {
  /* display: flex;
  align-items: center;
  overflow: hidden; */
  /* position: static !important; */
  /* height: 100%; */
  /* gap: 50px; */
  margin: 10px 10px 0px 10px;
}
.customDotList {
  position: relative !important;
  /* margin-top: 30px; */
}
.customItemV1 {
  padding-left: 10px;
  padding-right: 10px;
}
.customItemV2 {
  width: fit-content !important;
}
