/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --Primary-1000: #000000;
  --Primary-900: #1a3453;
  --Primary-800: #284e7d;
  --Primary-700: #3568a6;
  --Primary-600: #4282cf;
  --Primary-500: #1976d2;
  --Primary-400: #6cacfa;
  --Primary-300: #8abdfb;
  --Primary-200: #a7cdfc;
  --Primary-100: #c4defd;
  --Primary-50: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
