/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --Primary-1000: #000000;
  --Primary-700: #3568a6;
  --Primary-600: #4282cf;
  --Primary-500: #4f9cf9;
  --Primary-50: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
